
<header class="bg-white-200 pl-2 w-full h-16 pb-2 border-gray-400">

    <a class="px-1 text-4xl mt-2 justify-start text-pink-600 font-w-18 mr-0" [routerLink]="['/']">
        <i class="material-icons h-8">
            credit_card
        </i>
        e-GiftVocha
    </a>

    <button routerLink="/cart" class="ml-14 py-1 px-1 rounded text-pink-700 border mt-1 hover:border-red-70"><i class="material-icons">shopping_cart</i>Cart</button>

</header>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->